@import url('https://fonts.googleapis.com/css2?family=Yuji+Boku&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
body{
    color: white;
    display: grid;
    justify-content: center;
}
.weather-body {
    border: 2px solid black;
    background: url(./assets/default-image.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 60vw;
    min-height: 540px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}
.input-group {
}
.weather-data {
}
.the-temp {
    
}
.weather__data__city {
    font-size: 30px;
    font-family: 'Yuji Boku', serif;
}
.weather__data__description {
}
.weather__data__description__detailed {
}
.weather_icon {
}
.weather__icon__image {
}

